@page
@model PersonalStylistIA.Pages.Account.LogoutModel



<form method="post" style="text-align:center; margin-top:2rem;">
    <p>Tem certeza que deseja sair?</p>
    <button type="submit" class="contrast">Sair</button>
</form>


<h2>Saindo...</h2>